.settings
.project
.classpath
.cache
.idea/
core/.idea/
hpa/.idea/
ensg/.idea/
*.iml
cache
bin
target
log
*.class
output.xml
failed-entries.log
*output.xml
output.xml.subcell
hpa-data
hpa/details.tsv
hpa/mapping.tsv
hpa/tissue-mapping.tsv
ln-s-data.xml
brca.tsv
bioeditor/.cache-main
bioeditor/.cache-tests
.cache-tests
.cache-main
cv-uniprot-tissue-readme.proxied
cv-uniprot-tissue.proxied
details-antibody.tsv
details-expcontext.tsv
details-expression.tsv
details-rnaexpression.tsv
details-subcell.tsv
ENSG00000269113-expcontextsample.xml
ENSG00000269113-expsample.xml
failed-antibody.xml
failed-expression.xml
HPA-antibody.xml
HPA-expcontext.xml
HPA-expression.xml
HPA-rnaexpression.xml
HPA-subcell.xml
plugins.sbt.old
selected.txt
tissue-mapping.tsv
peptide-atlas/details.tsv
peptide-atlas/peptide_ptm_noSNP.tsv
peptide-atlas/PeptideAtlasPphosphoset.xml
src/test/resources/HPA_Subcell_Mapping-old.txt
